body{
    background: linear-gradient(red,purple);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.central{
    width: 350px;
    height: 200px;
    background: white;
    border-radius: 20px;
    filter: drop-shadow(9px 4px 11px rgb(23, 24, 53));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.central div{
    background: rgb(228, 37, 37);
    color: white;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.central div span{
    font-size: 85px;
}

.central div p{
    font-size: 17px;
    margin: 0;
}

